# ==========================================
# THƯ MỤC CỦA HỆ ĐIỀU HÀNH
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# BACKEND: C# & ASP.NET CORE (Visual Studio)
# ==========================================
# Thư mục build và file rác của VS
bin/
obj/
.vs/
TestResults/
*.user
*.userosscache
*.sln.docstates
*.suo

# Không push cấu hình local hoặc key bí mật lên Git
appsettings.Development.json
appsettings.local.json

# ==========================================
# FRONTEND: NODE.JS & REACT
# ==========================================
# Thư viện tải về cực nặng (BẮT BUỘC CHẶN)
node_modules/
jspm_packages/

# File build của React
build/
dist/
out/

# Biến môi trường chứa API URL hoặc Key
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# File log lỗi
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*